.link-app{
    text-align: start;
    font-size: 30px;
    font-family: sans-serif;
}
.page{
    color: black;
    padding: 10px;
}
.btn-logout{
    color: black;
    padding: 10px;
    font-size: 30px;    
}
.header-container{
    background-color: rgb(160, 238, 249);
    padding: 20px;
}